* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.contenido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conten_form{
    width: 100%;
    max-width: 450px;
    background-color: transparent;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}

.conten_form img{
    width: 150px;
    height: 150px;
}

.conten_form h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.input_field {
    background-color: #989898;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 30px;
    color: black;
}

input::placeholder {
    color: black;
}

.input_field i {
    margin-left: 15px;
    color: white;
}

a label {
    color: black;
    cursor: pointer;
}

a label:hover {
    color: red;
    cursor: pointer;
}

.btn-field {
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button {
    border: solid 3px red;
    padding: 5px 25px;
    background: red;
    font-weight: bold;
    transition: 0.5s;
    margin-bottom: 10px;
}

.btn-field button:hover {
    border: solid 3px red;
    background-color: transparent;
    color: black;

}

a {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-weight: 300;
}

.re {
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

.re:hover {
    color: #d32f2f;
    font-weight: bold;
}

option {
    background: #989898;
    color: #000;
}

.form-select  {
    background-color: #989898;
}
.re {
    display: flex;
} 

.regresar i {
    border: solid 3px red;
    padding: 12px;
    border-radius: 100%;
    background-color: red;
    color: white;
}

.regresar i:hover {
    color: black;
    transition: 0.5s;
}

