* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Form Styles */
.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 35px auto 20px auto;
}

.form-llantas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-llantas h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    color: #d32f2f;
}

.form-llantas .instructions {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.input-subgroup {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-subgroup.user-info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

.input-subgroup > div {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input_field_categoria, .input_field_fecha_expedicion,
.input_field_fecha_vencimiento, .input_field_tipo_servicio,
.input_field_observaciones, .input_field_documento_usuario {
    background-color: #c2c2c2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.input_field_documento_usuario {
    background-color: #e0e0e0;
    opacity: 0.8;
}

.input_field_categoria label,
.input_field_fecha_vencimiento label, .input_field_fecha_expedicion label,
.input_field_tipo_servicio label,
.input_field_observaciones label,
.input_field_documento_usuario label {
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input_field_categoria select,
.input_field_tipo_servicio select {
    cursor: pointer;
}

input, select, textarea {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

input[readonly] {
    cursor: not-allowed;
    color: #555;
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: #666;
}

.input_field_categoria i, .input_field_tipo_servicio i,
.input_field_fecha_vencimiento i, .input_field_fecha_expedicion i, 
.input_field_observaciones i,
.input_field_documento_usuario i {
    margin-left: 10px;
    color: #fff;
    width: 10%;
}

.btn-field {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button {
    border: solid 3px #d32f2f;
    padding: 10px 30px;
    background: #d32f2f;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    border-radius: 12px;
    cursor: pointer;
}

.btn-field button:hover {
    border: solid 3px #d32f2f;
    background-color: transparent;
    color: #d32f2f;
}

.validacion_categoria, .validacion_tipo_servicio,
.validacion_fecha_vencimiento, .validacion_fecha_expedicion, .validacion_observaciones {
    font-weight: 600;
    font-size: 10px;
    opacity: 0;
    padding: 5px 0;
    color: #c50000;
    display: block;
}

.formulario_error {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #c50000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.formulario_exito {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #158000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.input_field_categoria_correcto, .input_field_tipo_servicio_correcto,
.input_field_fecha_vencimiento_correcto, .input_field_fecha_expedicion_correcto, .input_field_observaciones_correcto {
    background-color: #c2c2c2;
    border: solid 3px #158000;
    color: #158000;
}

.input_field_categoria_correcto i, .input_field_tipo_servicio_correcto i,
.input_field_fecha_vencimiento_correcto i, .input_field_observaciones_correcto i, 
.input_field_fecha_expedicion_correcto i {
    color: #158000;
}

.input_field_categoria_incorrecto, .input_field_tipo_servicio_incorrecto,
.input_field_fecha_vencimiento_incorrecto, .input_field_observaciones_incorrecto, 
.input_field_fecha_expedicion_incorrecto {
    background-color: #c2c2c2;
    border: solid 3px #c50000;
    color: #c50000;
}

.input_field_categoria_incorrecto i, .input_field_tipo_servicio_incorrecto i,
.input_field_fecha_vencimiento_incorrecto i, .input_field_observaciones_incorrecto i,
.input_field_fecha_expedicion_incorrecto i {
    color: #c50000;
}

@media screen and (max-width: 768px) {
    .input-subgroup > div {
        flex: 1 1 100%;
    }

    .container {
        padding: 10px;
        margin-top: 200px;
    }

    .form-llantas h1 {
        font-size: 24px;
    }

    .input_field_categoria label, .input_field_tipo_servicio label,
    .input_field_fecha_vencimiento label, .input_field_fecha_expedicion label, 
    .input_field_observaciones label,
    .input_field_documento_usuario label {
        font-size: 14px;
    }

    input, select, textarea {
        width: 85%;
        padding: 8px;
    }

    .btn-field button {
        width: 100%;
        padding: 8px 20px;
    }
}